*

{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;

}

body {
    font: rgb(16, 19, 15);
    padding: 20px;
    margin: 20px;
    font-family: sans-serif;
    background-color: rgb(2, 129, 66);
    background-size: cover;
}

main {
    font-family: sans-serif;
    color: rgb(223, 223, 223);
    background: none;
    width: 500px;
    padding: 10px;
    box-shadow: 3px 3px 5px red;
    border: 2px solid rgb(255, 0, 0);
}

#eu {
    font-family: sans-serif;
    font-size: 15px;
    padding: 5px;
    border-bottom: 2px solid red;
    
}
ul {
    font-size: 10px;
}
#h1 {
    border-bottom: 2px solid red;
    padding: 5px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
